html
{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    font-family: inter;
    overflow-x: hidden;
    background: #2F2F2F;
}

body
{
    border: 4px solid #00C2FF;
    padding: 0;
    margin: 0;
}

#contactBody
{
    border: 4px solid #FF5733;
}

#portfolioBody
{
    border: 4px solid #8c00be;
}

#projectsBody
{
    border: 4px solid rgb(0, 192, 77);
}

#notesBody
{
    border: 4px solid #b90000;
}

h1
{
    font-weight: 200;
}

h2
{
    font-weight: 200;
}

p
{
    font-weight: 200;
}

.sticky-header
{
    position: sticky;
    top: 0;
    z-index: 999; /*Hack I found to make sure the blur is above everything! :) */
    backdrop-filter: blur(5px);
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}
  
li 
{
    float: left;
}
  
li a 
{
    background-color: #00C2FF;
    display: block;
    color: #2F2F2F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Learned this stuff from W3 schools for CSS!*/
li a:hover 
{
    background-color: var(--button-hover-color, #ffffff);
}

.about 
{
    background-color: #0097c5;
    --button-hover-color: #006f91; 
}
  
.portfolio 
{
    background-color: #8c00be;
    --button-hover-color: #5f0081; 
}
  
.projects 
{
    background-color: rgb(0, 192, 77);
    --button-hover-color: rgb(0, 134, 54); /*Idk why this switched to rgb instead of hashtag form...*/
}

.contact
{
    background-color: #FF5733;
    --button-hover-color: #b33e24;
}

.futurenotes 
{
    background-color: #b90000;
    --button-hover-color: #8d0000;
}

.imageFix
{
    position: relative;
    height: 45vh;
    border: 4px solid black;
    right: 0vw;
}

.construction .imageFix
{
    position: relative;
    height: 95vh;
    border: 4px solid black;
    right: 0vw;
}

/*Although we talked about how to do this in class, I wanted to do some more advanced things with this overlay so I did a lot of googling to learn how to do some things (like the transform translate thing)*/
.container 
{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("Images/PhotoCollage.png") center/cover no-repeat;
}

/*Got most of this code from the code mode thing on Figma*/
.overlay 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 488px;
    height: 20vh;
    flex-shrink: 0;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
}

.contact .overlay
{
    width: 600px;
}
.construction .overlay
{
    height: 100%;
    width: 100%;
    border-radius: 0px;
}

.overlay p 
{
    color: #FFF;
    text-align: center;
    font-size: 55px;
    font-family: Inter;
    font-weight: 100;
}

#smallTextOverlay
{
    font-size: 24px;
}

#base
{
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
}

#portfolioBase {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    display: flex;
    flex: 1;
    padding: 10px;
}

#title
{
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 64px;
    
    display: inline-block
}

#text
{
    padding-left: 40px;
    padding-right: 40px;
}

#subtitle
{
    font-size: 40px;
}

#smallTextAbout
{
    font-size: 24px;
}

#contactTitle
{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

#textContact
{
    width: 80vw;
}

#links
{
    text-align: left;
    padding-left: 400px;
    padding-right: 40px;
    vertical-align: middle;
    font-size: 30px;
}

#portfolioText
{
    width: 60%;
    height: fit-content;
}

#links div
{
    padding-bottom: 10px;
}

a, a:visited
{
    text-decoration: none;
    color:white;
}

#links img
{
    vertical-align: middle;
    width: 100px;
}
