html
{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    font-family: inter;
    
    overflow-x: hidden;
    background: #2F2F2F;
}

body
{
    border: 4px solid #00C2FF;
    padding: 0;
    margin: 0;
}

h1
{
    font-weight: 200;
}

p
{
    font-weight: 200;
}

.sticky-header
{
    position: sticky;
    top: 0;
    z-index: 999; /*Hack I found to make sure the blur is above everything! :) */
    backdrop-filter: blur(5px);
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}
  
li 
{
    float: left;
}
  
li a 
{
    background-color: #00C2FF;
    display: block;
    color: #2F2F2F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Learned this stuff from W3 schools for CSS!*/
li a:hover 
{
    background-color: var(--button-hover-color, #ffffff);
}

.about 
{
    background-color: #00C2FF;
    --button-hover-color: #0093c0; 
}
  
.portfolio 
{
    background-color: #BD00FF;
    --button-hover-color: #8d00c0; 
}
  
.projects 
{
    background-color: #0F6;
    --button-hover-color: rgb(0, 187, 75); /*Idk why this switched to rgb instead of hashtag form...*/
}

.contact
{
    background-color: #ffe600;
    --button-hover-color: #c4b000;
}

.futurenotes 
{
    background-color: #ff0000;
    --button-hover-color: #af0000;
}

.imageFix
{
    position: relative;
    height: 45vh;
    border: 4px solid black;
    right: 0vw;
}

/*Although we talked about how to do this in class, I wanted to do some more advanced things with this overlay so I did a lot of googling to learn how to do some things (like the transform translate thing)*/
.container 
{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("Images/PhotoCollage.png") center/cover no-repeat;
}

/*Got most of this code from the code mode thing on Figma*/
.overlay 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 488px;
    height: 20vh;
    flex-shrink: 0;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
}
  
.overlay p 
{
    color: #FFF;
    text-align: center;
    font-size: 55px;
    font-family: Inter;
    font-weight: 100;
}

#smallTextOverlay
{
    font-size: 24px;
}

#about
{
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    display: flex;
    flex: 1;
    padding: 10px;
}

#text
{
    padding-left: 40px;
    padding-right: 40px;
}

#smallTextAbout
{
    font-size: 30px;
}