html {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    font-family: inter;
    overflow-x: hidden;
    background: #2F2F2F;
}

body {
    border: 4px solid #00C2FF;
    padding: 0;
    margin: 0;
}

#contactBody {
    border: 4px solid #FF5733;
}

#portfolioBody {
    border: 4px solid #8c00be;
}

#resumeBody {
    border: 4px solid rgb(0, 192, 77);
}

#notesBody {
    border: 4px solid #b90000;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 200;
}

p {
    font-weight: 200;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999; /* Hack I found to make sure the blur is above everything! :) */
    backdrop-filter: blur(5px);
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.sticky-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.sticky-header li {
    float: left;
}

.sticky-header li a {
    background-color: #00C2FF;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

.sticky-header li a:hover {
    background-color: var(--button-hover-color, #ffffff);
}

.sticky-header .about {
    background-color: #0097c5;
    --button-hover-color: #006f91;
}

.sticky-header .portfolio {
    background-color: #8c00be;
    --button-hover-color: #5f0081;
}

.sticky-header .resume {
    background-color: rgb(0, 192, 77);
    --button-hover-color: rgb(0, 134, 54); /* Idk why this switched to rgb instead of hashtag form... */
}

.sticky-header .contact {
    background-color: #FF5733;
    --button-hover-color: #b33e24;
}

.sticky-header .futurenotes {
    background-color: #b90000;
    --button-hover-color: #8d0000;
}

.imageFix {
    position: relative;
    height: 45vh;
    border: 4px solid black;
    right: 0vw;
    z-index: -999;
}

.construction .imageFix {
    position: relative;
    height: 95vh;
    border: 4px solid black;
    right: 0vw;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("Images/PhotoCollage.png") center/cover no-repeat;
    z-index: -999;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 488px;
    height: 20vh;
    flex-shrink: 0;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    z-index: -999;
}

.contact .overlay {
    width: 600px;
}

.construction .overlay {
    height: 100%;
    width: 100%;
    border-radius: 0px;
}

.overlay p {
    color: #FFF;
    text-align: center;
    font-size: 55px;
    font-family: Inter;
    font-weight: 100;
}

#smallTextOverlay {
    font-size: 24px;
}

#base {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
}

#portfolioBase {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 64px;
    display: flex;
    flex: 1;
    padding: 10px;
}

#title {
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 64px;
    display: inline-block;
}

#aboutSection {
    font-weight: 200;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5;
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtitle {
    font-size: 40px;
}

#aboutText {
    font-size: 20px;
    width: 100%;
    height: auto;
    word-wrap: break-word; /* Wrap long words onto the next line */
    margin: 0 auto;
}

#contactTitle {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

#textContact {
    width: 80vw;
}

#links {
    text-align: left;
    padding-left: 400px;
    padding-right: 40px;
    vertical-align: middle;
    font-size: 30px;
}

#resumeText {
    width: 60%;
    height: fit-content;
}

#links div {
    padding-bottom: 10px;
}

#links img {
    vertical-align: middle;
    width: 100px;
}

#portfolioSection {
    margin:auto;
    text-align: center;
    width: 80%;
}

#portfolioSection h3 {
    font-weight: 50;
    font-size: 40px;
}

#portfolioListsContainer {
    display: flex;
    justify-content: space-around;
}

.portfolioList {
    text-align: center;
    height: fit-content;
}

#portfolioSection ul {
    list-style-position: inside;
    text-align: left;
    padding-left: 20px; 
    margin-top: 10px;
    margin-bottom: 20px; 
    display: inline-block
}

#portfolioSection #subtitle {
    margin: 0;
}

#portfolioSection li {
    font-weight: 25;
    font-size: 30px;
}

#portfolioSection li a{
    text-decoration: underline;
}

#projectText {
    text-align: center;
    font-size: 30px;
    width: 80%;
    margin: auto;
}

#projectText p {
    font-weight: 100;
}

#returnToPortfolio a {
    color: #8c00be;
    font-size: 50px;
}